# LOGISTIC REGRESSION - LOAN DEFAULTER PREDICTION

#

## Import necessary Libraries

In [361]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
from scipy import stats
from sklearn import linear_model
from sklearn.linear_model import LinearRegression

## Loading csv into dataframe

In [362]:
raw_data = pd.read_csv('train_data_1.csv')

In [363]:
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,NaN,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

## Basic data description

In [364]:
raw_data.shape

(270000, 45)

In [365]:
raw_data.dtypes

member_id                        int64
loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                            object
batch_enrolled                  object
int_rate                       float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
pymnt_plan                      object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_bal                        int64
revol_util                     float64
total_acc                      float64
initial_list_status             object
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
application_type                object
verification_status_joint       object
last_week_pay                   object
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
total_rev_hi_lim               float64
loan_status                      int64
dtype: object

In [366]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    270000 non-null  int64
 1   loan_amnt                    270000 non-null  int64
 2   funded_amnt                  270000 non-null  int64
 3   funded_amnt_inv              270000 non-null  float64
 4   term                         270000 non-null  object
 5   batch_enrolled               173125 non-null  object
 6   int_rate                     270000 non-null  float64
 7   grade                        270000 non-null  object
 8   sub_grade                    270000 non-null  object
 9   emp_title                    254375 non-null  object
 10  emp_length                   256370 non-null  object
 11  home_ownership               270000 non-null  object
 12  annual_inc                   269998 non-null  float64
 13  verification_status          270000 non-null  object
 14  pymnt_plan                   270000 non-null  object
 15  desc                         38379 non-null   object
 16  purpose                      270000 non-null  object
 17  title                        269957 non-null  object
 18  zip_code                     270000 non-null  object
 19  addr_state                   270000 non-null  object
 20  dti                          270000 non-null  float64
 21  delinq_2yrs                  269994 non-null  float64
 22  inq_last_6mths               269994 non-null  float64
 23  mths_since_last_delinq       131498 non-null  float64
 24  mths_since_last_record       41289 non-null   float64
 25  open_acc                     269994 non-null  float64
 26  pub_rec                      269994 non-null  float64
 27  revol_bal                    270000 non-null  int64
 28  revol_util                   269852 non-null  float64
 29  total_acc                    269994 non-null  float64
 30  initial_list_status          270000 non-null  object
 31  total_rec_int                270000 non-null  float64
 32  total_rec_late_fee           270000 non-null  float64
 33  recoveries                   270000 non-null  float64
 34  collection_recovery_fee      270000 non-null  float64
 35  collections_12_mths_ex_med   269958 non-null  float64
 36  mths_since_last_major_derog  67505 non-null   float64
 37  application_type             270000 non-null  object
 38  verification_status_joint    141 non-null     object
 39  last_week_pay                270000 non-null  object
 40  acc_now_delinq               269994 non-null  float64
 41  tot_coll_amt                 248617 non-null  float64
 42  tot_cur_bal                  248617 non-null  float64
 43  total_rev_hi_lim             248617 non-null  float64
 44  loan_status                  270000 non-null  int64
dtypes: float64(22), int64(5), object(18)
memory usage: 92.7+ MB

In [367]:
raw_data.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,total_rec_late_fee,recoveries,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
count,2.700000e+05,270000.000000,270000.000000,270000.000000,270000.000000,2.699980e+05,270000.000000,269994.000000,269994.000000,131498.000000,...,270000.000000,270000.000000,270000.000000,269958.000000,67505.000000,269994.000000,248617.000000,2.486170e+05,2.486170e+05,270000.000000
mean,3.500089e+07,14749.904167,14736.266296,14696.206530,13.243335,7.506215e+04,18.128041,0.315822,0.694182,34.003749,...,0.402963,45.419585,4.805591,0.014261,44.058633,0.004930,213.969358,1.395263e+05,3.207576e+04,0.236378
std,2.413323e+07,8427.573821,8421.906894,8434.618225,4.379194,6.485241e+04,8.307225,0.868445,0.994583,21.851861,...,4.220959,397.525840,60.381161,0.133470,22.172078,0.076895,2029.834018,1.531235e+05,3.762495e+04,0.424858
min,7.047300e+04,500.000000,500.000000,0.000000,5.320000,1.896000e+03,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,1.085953e+07,8000.000000,8000.000000,8000.000000,9.990000,4.500000e+04,11.910000,0.000000,0.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,27.000000,0.000000,0.000000,2.981800e+04,1.400000e+04,0.000000
50%,3.709728e+07,13000.000000,13000.000000,13000.000000,12.990000,6.485750e+04,17.630000,0.000000,0.000000,31.000000,...,0.000000,0.000000,0.000000,0.000000,44.000000,0.000000,0.000000,8.033500e+04,2.380000e+04,0.000000
75%,5.851962e+07,20000.000000,20000.000000,20000.000000,16.200000,9.000000e+04,23.940000,0.000000,1.000000,50.000000,...,0.000000,0.000000,0.000000,0.000000,61.000000,0.000000,0.000000,2.085710e+05,3.990000e+04,0.000000
max,7.354484e+07,35000.000000,35000.000000,35000.000000,28.990000,9.500000e+06,137.400000,30.000000,28.000000,176.000000,...,358.680000,29623.350000,7002.190000,16.000000,176.000000,5.000000,496651.000000,3.840795e+06,9.999999e+06,1.000000

## Check and Handle for null values

In [368]:
raw_data.isna().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  96875
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       15625
emp_length                      13630
home_ownership                      0
annual_inc                          2
verification_status                 0
pymnt_plan                          0
desc                           231621
purpose                             0
title                              43
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                         6
inq_last_6mths                      6
mths_since_last_delinq         138502
mths_since_last_record         228711
open_acc                            6
pub_rec                             6
revol_bal                           0
revol_util                        148
total_acc                           6
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         42
mths_since_last_major_derog    202495
application_type                    0
verification_status_joint      269859
last_week_pay                       0
acc_now_delinq                      6
tot_coll_amt                    21383
tot_cur_bal                     21383
total_rev_hi_lim                21383
loan_status                         0
dtype: int64

In [369]:
raw_data.dropna(subset=['emp_title',
'emp_length',
'annual_inc',
'title',
'delinq_2yrs',
'inq_last_6mths',
'open_acc',
'pub_rec',
'revol_util',
'total_acc',
'collections_12_mths_ex_med',
'acc_now_delinq',
'tot_coll_amt',
'tot_cur_bal',
'total_rev_hi_lim'],inplace=True)

In [370]:
raw_data.fillna('not applicable', inplace=True)

In [371]:
raw_data.isna().sum()

member_id                      0
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
batch_enrolled                 0
int_rate                       0
grade                          0
sub_grade                      0
emp_title                      0
emp_length                     0
home_ownership                 0
annual_inc                     0
verification_status            0
pymnt_plan                     0
desc                           0
purpose                        0
title                          0
zip_code                       0
addr_state                     0
dti                            0
delinq_2yrs                    0
inq_last_6mths                 0
mths_since_last_delinq         0
mths_since_last_record         0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
initial_list_status            0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
collections_12_mths_ex_med     0
mths_since_last_major_derog    0
application_type               0
verification_status_joint      0
last_week_pay                  0
acc_now_delinq                 0
tot_coll_amt                   0
tot_cur_bal                    0
total_rev_hi_lim               0
loan_status                    0
dtype: int64

In [372]:
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,not applicable,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,not applicable,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,not applicable,INDIVIDUAL,not applicable,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,not applicable,INDIVIDUAL,not applicable,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,not applicable,INDIVIDUAL,not applicable,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,not applicable,INDIVIDUAL,not applicable,96th week,0.0,0.0,47159.0,47033.0,0

#

## Feature Engineering On Required Columns

### term_in_months column

In [373]:
# Column 'term' values are like xx months
# target is to extract the numbers only from this column
raw_data['term_in_months'] = raw_data['term'].apply(lambda x: x.split("month")[0])
raw_data.drop(['term'], axis=1, inplace=True)
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,batch_enrolled,int_rate,grade,sub_grade,emp_title,emp_length,...,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,term_in_months
0,58189336,14350,14350,14350.0,not applicable,19.19,E,E3,clerk,9 years,...,74.0,INDIVIDUAL,not applicable,26th week,0.0,0.0,28699.0,30800.0,0,36
1,70011223,4800,4800,4800.0,BAT1586599,10.99,B,B4,Human Resources Specialist,< 1 year,...,not applicable,INDIVIDUAL,not applicable,9th week,0.0,0.0,9974.0,32900.0,0,36
2,70255675,10000,10000,10000.0,BAT1586599,7.26,A,A4,Driver,2 years,...,not applicable,INDIVIDUAL,not applicable,9th week,0.0,65.0,38295.0,34900.0,0,36
3,1893936,15000,15000,15000.0,BAT4808022,19.72,D,D5,Us office of Personnel Management,10+ years,...,not applicable,INDIVIDUAL,not applicable,135th week,0.0,0.0,55564.0,24700.0,0,36
4,7652106,16000,16000,16000.0,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,10+ years,...,not applicable,INDIVIDUAL,not applicable,96th week,0.0,0.0,47159.0,47033.0,0,36

In [374]:
raw_data.shape

(234083, 45)

### emp_length_years column

In [375]:
raw_data['emp_length'].unique()

array(['9 years', '< 1 year', '2 years', '10+ years', '5 years',
       '8 years', '7 years', '4 years', '1 year', '3 years', '6 years'],
      dtype=object)

In [376]:
#As per business document, <1 year should be noted as 0 years
#As per business document, anything 10+ and 10 means the same
raw_data.loc[raw_data['emp_length'] == '< 1 year', 'emp_length'] = '0 year'
raw_data.loc[raw_data['emp_length'] == '10+ years', 'emp_length'] = '10 year'
raw_data['emp_length'].unique()

array(['9 years', '0 year', '2 years', '10 year', '5 years', '8 years',
       '7 years', '4 years', '1 year', '3 years', '6 years'], dtype=object)

In [377]:
raw_data['emp_length_years'] = raw_data['emp_length'].apply(lambda x: x.split("year")[0])
raw_data.drop(['emp_length'], axis=1, inplace=True)
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,batch_enrolled,int_rate,grade,sub_grade,emp_title,home_ownership,...,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,term_in_months,emp_length_years
0,58189336,14350,14350,14350.0,not applicable,19.19,E,E3,clerk,OWN,...,INDIVIDUAL,not applicable,26th week,0.0,0.0,28699.0,30800.0,0,36,9
1,70011223,4800,4800,4800.0,BAT1586599,10.99,B,B4,Human Resources Specialist,MORTGAGE,...,INDIVIDUAL,not applicable,9th week,0.0,0.0,9974.0,32900.0,0,36,0
2,70255675,10000,10000,10000.0,BAT1586599,7.26,A,A4,Driver,OWN,...,INDIVIDUAL,not applicable,9th week,0.0,65.0,38295.0,34900.0,0,36,2
3,1893936,15000,15000,15000.0,BAT4808022,19.72,D,D5,Us office of Personnel Management,RENT,...,INDIVIDUAL,not applicable,135th week,0.0,0.0,55564.0,24700.0,0,36,10
4,7652106,16000,16000,16000.0,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,RENT,...,INDIVIDUAL,not applicable,96th week,0.0,0.0,47159.0,47033.0,0,36,10

In [378]:
raw_data['emp_length_years'].value_counts()

10     83010
2      21787
3      19289
0      19218
1      15587
5      14942
4      14172
8      12357
7      12349
6      11644
9       9728
Name: emp_length_years, dtype: int64

In [379]:
raw_data.shape

(234083, 45)

### home_ownership column

In [380]:
# checking unique value counts
raw_data['home_ownership'].value_counts()

MORTGAGE    118052
RENT         93684
OWN          22314
OTHER           16
NONE            15
ANY              2
Name: home_ownership, dtype: int64

In [381]:
# dropping OWN, OTHER and ANY valued rows
raw_data.drop(raw_data.index[raw_data['home_ownership'] == 'OTHER'], inplace=True)
raw_data.drop(raw_data.index[raw_data['home_ownership'] == 'ANY'], inplace=True)
raw_data.drop(raw_data.index[raw_data['home_ownership'] == 'NONE'], inplace=True)

In [382]:
raw_data.shape

(234050, 45)

### verification_status column

In [383]:
raw_data['verification_status'].value_counts()

Source Verified    91762
Verified           71180
Not Verified       71108
Name: verification_status, dtype: int64

In [384]:
# changing source verified to verified
raw_data.loc[raw_data['verification_status'] == 'Source Verified', 'verification_status'] = 'Verified'

raw_data['verification_status'].value_counts()

Verified        162942
Not Verified     71108
Name: verification_status, dtype: int64

In [385]:
raw_data.shape

(234050, 45)

### addr_state column

In [386]:
raw_data['addr_state'].value_counts()

CA    33890
NY    19208
TX    18957
FL    15712
IL     9497
NJ     8939
PA     8239
OH     7865
GA     7611
VA     6986
NC     6500
MI     6009
MD     5551
MA     5403
AZ     5336
WA     5182
CO     4985
MN     4351
IN     3937
MO     3771
TN     3671
CT     3518
NV     3221
WI     3006
AL     2966
OR     2843
LA     2768
SC     2757
KY     2264
KS     2143
OK     2121
UT     1707
AR     1696
NM     1304
NH     1183
WV     1158
HI     1141
RI     1062
MS     1009
DE      650
MT      638
DC      614
AK      589
WY      535
VT      482
SD      477
NE      322
ME      138
ND      136
ID        1
IA        1
Name: addr_state, dtype: int64

### initial_list_status column

In [387]:
raw_data['initial_list_status'].value_counts()

w    123910
f    110140
Name: initial_list_status, dtype: int64

### application_type column

In [388]:
raw_data['application_type'].value_counts()

INDIVIDUAL    233931
JOINT            119
Name: application_type, dtype: int64

###  verification_status_joint column

In [389]:
raw_data['verification_status_joint'].value_counts()

not applicable     233931
Not Verified           66
Verified               45
Source Verified         8
Name: verification_status_joint, dtype: int64

In [390]:
raw_data.loc[raw_data['verification_status_joint'] == 'Source Verified', 'verification_status_joint'] = 'Verified'

raw_data['verification_status_joint'].value_counts()

not applicable    233931
Not Verified          66
Verified              53
Name: verification_status_joint, dtype: int64

### mths_since_last_record and mths_since_last_major_derog column

In [391]:
raw_data.loc[raw_data['mths_since_last_record'] == 'not applicable', 'mths_since_last_record'] = 0
raw_data.loc[raw_data['mths_since_last_major_derog'] == 'not applicable', 'mths_since_last_major_derog'] = 0
raw_data.loc[raw_data['mths_since_last_delinq'] == 'not applicable', 'mths_since_last_delinq'] = 0

### last_week_pay column

In [392]:
raw_data['last_week_pay'].value_counts()

13th week     14199
9th week      13445
26th week     12822
22th week     12147
4th week      12145
35th week     11164
39th week     11076
17th week     10522
31th week     10415
52th week      8885
65th week      8857
48th week      8743
61th week      8268
78th week      6549
74th week      6068
87th week      5055
NAth week      4970
91th week      4912
44th week      4856
83th week      4433
70th week      4291
43th week      3647
57th week      3558
100th week     3440
109th week     3351
104th week     3243
96th week      2784
113th week     2767
117th week     2683
156th week     2313
56th week      2309
122th week     2229
126th week     2211
135th week     1728
131th week     1520
30th week      1474
139th week     1439
95th week      1226
148th week     1157
144th week     1036
152th week      990
82th week       846
18th week       716
130th week      617
69th week       603
161th week      575
0th week        406
8th week        278
143th week      219
21th week       197
165th week      153
121th week      125
170th week      109
174th week       88
92th week        79
108th week       65
169th week       35
178th week       12
Name: last_week_pay, dtype: int64

In [393]:
# Column 'last_week_pay' values are like xx th week
# target is to extract the numbers only from this column
raw_data['last_week_pay_week'] = raw_data['last_week_pay'].apply(lambda x: x.split("th")[0])
raw_data.drop(['last_week_pay'], axis=1, inplace=True)
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,batch_enrolled,int_rate,grade,sub_grade,emp_title,home_ownership,...,application_type,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,term_in_months,emp_length_years,last_week_pay_week
0,58189336,14350,14350,14350.0,not applicable,19.19,E,E3,clerk,OWN,...,INDIVIDUAL,not applicable,0.0,0.0,28699.0,30800.0,0,36,9,26
1,70011223,4800,4800,4800.0,BAT1586599,10.99,B,B4,Human Resources Specialist,MORTGAGE,...,INDIVIDUAL,not applicable,0.0,0.0,9974.0,32900.0,0,36,0,9
2,70255675,10000,10000,10000.0,BAT1586599,7.26,A,A4,Driver,OWN,...,INDIVIDUAL,not applicable,0.0,65.0,38295.0,34900.0,0,36,2,9
3,1893936,15000,15000,15000.0,BAT4808022,19.72,D,D5,Us office of Personnel Management,RENT,...,INDIVIDUAL,not applicable,0.0,0.0,55564.0,24700.0,0,36,10,135
4,7652106,16000,16000,16000.0,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,RENT,...,INDIVIDUAL,not applicable,0.0,0.0,47159.0,47033.0,0,36,10,96

In [394]:
# drop NA values
raw_data.drop(raw_data.index[raw_data['last_week_pay_week'] == 'NA'], inplace=True)

In [395]:
raw_data.shape

(229080, 45)

In [396]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229080 entries, 0 to 269999
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    229080 non-null  int64
 1   loan_amnt                    229080 non-null  int64
 2   funded_amnt                  229080 non-null  int64
 3   funded_amnt_inv              229080 non-null  float64
 4   batch_enrolled               229080 non-null  object
 5   int_rate                     229080 non-null  float64
 6   grade                        229080 non-null  object
 7   sub_grade                    229080 non-null  object
 8   emp_title                    229080 non-null  object
 9   home_ownership               229080 non-null  object
 10  annual_inc                   229080 non-null  float64
 11  verification_status          229080 non-null  object
 12  pymnt_plan                   229080 non-null  object
 13  desc                         229080 non-null  object
 14  purpose                      229080 non-null  object
 15  title                        229080 non-null  object
 16  zip_code                     229080 non-null  object
 17  addr_state                   229080 non-null  object
 18  dti                          229080 non-null  float64
 19  delinq_2yrs                  229080 non-null  float64
 20  inq_last_6mths               229080 non-null  float64
 21  mths_since_last_delinq       229080 non-null  object
 22  mths_since_last_record       229080 non-null  object
 23  open_acc                     229080 non-null  float64
 24  pub_rec                      229080 non-null  float64
 25  revol_bal                    229080 non-null  int64
 26  revol_util                   229080 non-null  float64
 27  total_acc                    229080 non-null  float64
 28  initial_list_status          229080 non-null  object
 29  total_rec_int                229080 non-null  float64
 30  total_rec_late_fee           229080 non-null  float64
 31  recoveries                   229080 non-null  float64
 32  collection_recovery_fee      229080 non-null  float64
 33  collections_12_mths_ex_med   229080 non-null  float64
 34  mths_since_last_major_derog  229080 non-null  object
 35  application_type             229080 non-null  object
 36  verification_status_joint    229080 non-null  object
 37  acc_now_delinq               229080 non-null  float64
 38  tot_coll_amt                 229080 non-null  float64
 39  tot_cur_bal                  229080 non-null  float64
 40  total_rev_hi_lim             229080 non-null  float64
 41  loan_status                  229080 non-null  int64
 42  term_in_months               229080 non-null  object
 43  emp_length_years             229080 non-null  object
 44  last_week_pay_week           229080 non-null  object
dtypes: float64(19), int64(5), object(21)
memory usage: 80.4+ MB

In [397]:
raw_data['term_in_months'] = raw_data['term_in_months'].astype(float, errors='raise')
raw_data['emp_length_years'] = raw_data['emp_length_years'].astype(float, errors='raise')
raw_data['last_week_pay_week'] = raw_data['last_week_pay_week'].astype(float, errors='raise')

In [398]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229080 entries, 0 to 269999
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   member_id                    229080 non-null  int64
 1   loan_amnt                    229080 non-null  int64
 2   funded_amnt                  229080 non-null  int64
 3   funded_amnt_inv              229080 non-null  float64
 4   batch_enrolled               229080 non-null  object
 5   int_rate                     229080 non-null  float64
 6   grade                        229080 non-null  object
 7   sub_grade                    229080 non-null  object
 8   emp_title                    229080 non-null  object
 9   home_ownership               229080 non-null  object
 10  annual_inc                   229080 non-null  float64
 11  verification_status          229080 non-null  object
 12  pymnt_plan                   229080 non-null  object
 13  desc                         229080 non-null  object
 14  purpose                      229080 non-null  object
 15  title                        229080 non-null  object
 16  zip_code                     229080 non-null  object
 17  addr_state                   229080 non-null  object
 18  dti                          229080 non-null  float64
 19  delinq_2yrs                  229080 non-null  float64
 20  inq_last_6mths               229080 non-null  float64
 21  mths_since_last_delinq       229080 non-null  object
 22  mths_since_last_record       229080 non-null  object
 23  open_acc                     229080 non-null  float64
 24  pub_rec                      229080 non-null  float64
 25  revol_bal                    229080 non-null  int64
 26  revol_util                   229080 non-null  float64
 27  total_acc                    229080 non-null  float64
 28  initial_list_status          229080 non-null  object
 29  total_rec_int                229080 non-null  float64
 30  total_rec_late_fee           229080 non-null  float64
 31  recoveries                   229080 non-null  float64
 32  collection_recovery_fee      229080 non-null  float64
 33  collections_12_mths_ex_med   229080 non-null  float64
 34  mths_since_last_major_derog  229080 non-null  object
 35  application_type             229080 non-null  object
 36  verification_status_joint    229080 non-null  object
 37  acc_now_delinq               229080 non-null  float64
 38  tot_coll_amt                 229080 non-null  float64
 39  tot_cur_bal                  229080 non-null  float64
 40  total_rev_hi_lim             229080 non-null  float64
 41  loan_status                  229080 non-null  int64
 42  term_in_months               229080 non-null  float64
 43  emp_length_years             229080 non-null  float64
 44  last_week_pay_week           229080 non-null  float64
dtypes: float64(22), int64(5), object(18)
memory usage: 80.4+ MB

In [399]:
raw_data.shape

(229080, 45)

### Label encode grade and sub_grade column - 'A' being highest to 'G' being lowest

In [400]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [401]:
raw_data['encoded_grade'] = label_encoder.fit_transform(raw_data['grade'])

In [402]:
raw_data['encoded_subgrade'] = label_encoder.fit_transform(raw_data['sub_grade'])

In [403]:
raw_data.drop(['grade','sub_grade'],axis='columns',inplace=True)

In [404]:
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,batch_enrolled,int_rate,emp_title,home_ownership,annual_inc,verification_status,...,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,term_in_months,emp_length_years,last_week_pay_week,encoded_grade,encoded_subgrade
0,58189336,14350,14350,14350.0,not applicable,19.19,clerk,OWN,28700.0,Verified,...,0.0,0.0,28699.0,30800.0,0,36.0,9.0,26.0,4,22
1,70011223,4800,4800,4800.0,BAT1586599,10.99,Human Resources Specialist,MORTGAGE,65000.0,Verified,...,0.0,0.0,9974.0,32900.0,0,36.0,0.0,9.0,1,8
2,70255675,10000,10000,10000.0,BAT1586599,7.26,Driver,OWN,45000.0,Not Verified,...,0.0,65.0,38295.0,34900.0,0,36.0,2.0,9.0,0,3
3,1893936,15000,15000,15000.0,BAT4808022,19.72,Us office of Personnel Management,RENT,105000.0,Not Verified,...,0.0,0.0,55564.0,24700.0,0,36.0,10.0,135.0,3,19
4,7652106,16000,16000,16000.0,BAT2833642,10.64,LAUSD-HOLLYWOOD HIGH SCHOOL,RENT,52000.0,Verified,...,0.0,0.0,47159.0,47033.0,0,36.0,10.0,96.0,1,6

### Dropping not required columns as of now

In [405]:
raw_data.drop(['emp_title','desc','title','zip_code'],axis='columns',inplace=True)

### One Hot Encoding into specific columns

In [406]:
raw_data = pd.get_dummies(raw_data, columns=['batch_enrolled','home_ownership', 'verification_status', 'pymnt_plan',
                                         'purpose','addr_state', 'initial_list_status','application_type','verification_status_joint'],drop_first=True)

In [407]:
raw_data.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_w,application_type_JOINT,verification_status_joint_Verified,verification_status_joint_not applicable
0,58189336,14350,14350,14350.0,19.19,28700.0,33.88,0.0,1.0,50.0,...,0,0,0,0,0,0,0,0,0,1
1,70011223,4800,4800,4800.0,10.99,65000.0,3.64,0.0,1.0,0,...,0,0,0,0,0,0,1,0,0,1
2,70255675,10000,10000,10000.0,7.26,45000.0,18.42,0.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1
3,1893936,15000,15000,15000.0,19.72,105000.0,14.97,0.0,2.0,46.0,...,1,0,0,0,0,0,0,0,0,1
4,7652106,16000,16000,16000.0,10.64,52000.0,20.16,0.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1

In [408]:
raw_data.shape

(229080, 143)

In [409]:
raw_data.to_csv('raw.csv', encoding='utf-8')

#

# NEED TO HANDLE emp_title COLUMN LATER!

#

## Dropping Unnecessary Columns

## Finding Correlation

correlation = raw_data.corr().abs()

unstacked_corr = correlation.unstack()
so = unstacked_corr.sort_values(kind="quicksort")

so

dfCorr = raw_data.corr()
filteredDf = dfCorr[((dfCorr >= .5) | (dfCorr <= -.5)) & (dfCorr !=1.000)]
plt.figure(figsize=(30,10))
sns.heatmap(filteredDf, annot=True, cmap="Reds")
plt.show()

correlation=raw_data.corr()
correlation.to_csv('corr.csv', encoding='utf-8')

#

## Keeping blank for PCA/VIF

#

# Train Test Split

In [410]:
from sklearn.model_selection import train_test_split

In [411]:
X = raw_data.drop(['loan_status'],axis='columns')
y = raw_data['loan_status']

In [412]:
X.shape

(229080, 142)

In [413]:
y.shape

(229080,)

In [414]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [415]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(183264, 142) (45816, 142) (183264,) (45816,)

# Model Build

In [416]:
from sklearn.linear_model import LogisticRegression

In [417]:
lr = LogisticRegression()

In [418]:
lr.fit(X_train,y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Finding Logistic Model Accuracy

In [419]:
lr_score = lr.score(X_train,y_train)
print('Traiining accuracy for logistic model:', lr_score)

Traiining accuracy for logistic model: 0.8144043565566614

# Finding Model Cross Validation Score

In [425]:
from sklearn.model_selection import cross_val_score, cross_val_predict

#Cross validation prediction of lr_model-
cv_predict=cross_val_predict(lr,X_train,y_train,cv=5)
#Cross validation score-
cv_score=cross_val_score(lr,X_train,y_train,cv=5)
print('cross val score :',np.average(cv_score))

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

cross val score : 0.8183931525450454

# Confusion Matrix

In [427]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_train,cv_predict)
cm=pd.crosstab(y_train,cv_predict)
cm

col_0             0     1
loan_status
0            145618  2101
1             31181  4364

# Classification Report

In [428]:
from sklearn.metrics import classification_report
classification_scores=classification_report(y_train,cv_predict)
print(classification_scores)

              precision    recall  f1-score   support

           0       0.82      0.99      0.90    147719
           1       0.68      0.12      0.21     35545

    accuracy                           0.82    183264
   macro avg       0.75      0.55      0.55    183264
weighted avg       0.79      0.82      0.76    183264

# Model Prediction / Test Accuracy

In [431]:
lr_pred=lr.predict(X_test)
print(lr_pred)

[0 0 0 ... 0 0 0]

In [433]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, lr_pred)

0.5404549854583586

In [436]:
test_accuracy = lr.score(X_test, y_test)
test_accuracy

0.8111140213026017

In [434]:
def compute_accuracy(y_true, y_pred):
    correct_predictions = 0
    # iterate over each label and check
    for true, predicted in zip(y_true, y_pred):
        if true == predicted:
            correct_predictions += 1
    # compute the accuracy
    accuracy = correct_predictions/len(y_true)
    return accuracy

# get the accuracy
compute_accuracy(y_test, lr_pred)

0.8111140213026017